<!-- <%# <p id="notice"> <%= notice %> </p> %> -->
<div class='hero'>
    <div class='full_page intro personalize'>
        <h1>Hello
        <% if current_contributor %>
        <%= "#{current_contributor.first_name.capitalize}"%>
        <% end %>,</h1>
        <p>Codiki is a one-stop shop coding project community created by community of fellow coders. We are passionate about providing a space for everyone to contribute, experiment, and explore their ideas. Our work is simply to provide project ideas for others to practice and grow their own personal skills. </p>
        <p class='linkRight'><%= link_to 'Learn More', about_path %></p>
    </div>
</div>

<div class='headBanner' >
    <div class='three_fourth' id='media'>
        <div class='article'>
          <h3>List of Articles</h3>
          <hr />
        </div>
        <% @articles.each do |article| %>
            <div class='article linking'>
                <h2><%= article.title %> <small> |</small> <small><small><small><%= link_to 'View More', article %></small></small></small></h2>
                <p><%= markdown(truncate("#{article.content}",length: 350)) %></p>
            </div>
        <% end %>
    </div>
</div>

<!-- <%# <%= link_to 'New Article', new_article_path %> %> -->

<!-- <%# <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %> %> -->
