<div class='categoryHead'>
  <div class='headBanner'>
      <div class='full_page newTitle'>
          <h1>Contributing an Article?</h1>
      </div>
      <div class='full_page blurb'>
            <p>Your ideas are always welcome.<br>
              There are always different methods to go about doing something. Lets see what other community users can think of.
            </p>
      </div>
  </div>
</div>
<div class='headBanner'>
  <div id='articleNote'>
    <div class='half_page'>
        <h3><%= link_to 'Article:', articles_path %></h3>
          <hr />
    </div>
  </div>
  <div id='actualArticle'>
    <%= form_for(@article) do |f| %>
        <div class='half_page field'>
          <strong><%= f.label :title %></strong><br>
          <%= f.text_field :title %>
        </div>
        <div class='half_page messages'>
          <% @article.errors.each do |field, error| %>
          <% if field.to_s.humanize == 'Category' %>
              <li><%= "#{field.to_s.humanize} must be selected" %></li>
          <% elsif field.to_s.humanize == 'Content' %>
              <li><%= "#{field.to_s.humanize} must be entered, it can't be blank" %></li>
          <% elsif field.to_s.humanize == 'Title' %>
              <li><%= "#{field.to_s.humanize} is required" %></li>
            <% end %>
          <% end %>
        </div>
        <div class='three_fourth field'>
          <strong><%= f.label :contributor_id %></strong>
          <% if current_contributor %>
          <%= "#{current_contributor.first_name.capitalize} #{current_contributor.last_name.capitalize} "%>
          <% end %>
        </div>
        <div class='three_fourth field'>
          <strong><%= f.label :category_id %></strong><br>
          <%= f.select :category_id, options_for_select(Category.all.collect { |p| [ p.title, p.id ] }) %>
        </div>
        <div class='half_page field'>
          <strong><%= f.label :content %></strong><br>
          <%= f.text_area :content %>
          <div class="full_page actions">
            <%= f.submit %>
          </div>
        </div>
        <div class='one_fourth markdownGuide'>
          <h4><a href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'>BASIC WRITING GUIDE FOR MARKDOWN</a></h4>
          <p> <strong> Heading </strong> <br/>
              # The largest heading <br />
              ## The second largest heading <br />
              … <br />
              ###### The 6th largest heading<br /><br/>
              <strong> Styling </strong><br/>
              Italic: *This text will be italic* <br/>
              Bold: **This text will be bold** <br/><br/>
              <strong> Links </strong><br/>
              Visit GitHub!](https://www.github.com) <br /><br/>
              <strong> Lists </strong><br/>
              Unordered: Add ( * ) or ( - ) before the words <br />
              Ordered: Add ( 1.),( 2.), etc...  before the words <br /><br/>
              <strong> Blockquotes </strong><br/>
              indicate with a ( > ) before the words <br /><br/>
              <strong> Formatting </strong><br/>
              Multiple lines: use triple backticks (```)<br /><br/>
          </p>
        </div>
    <% end %>

  </div>
</div>
