<!-- <%# <p id="notice"><%= notice %></p> %> -->
<div class='categoryHead'>
    <div class='headBanner'>
        <div class='full_page title'>
            <h1><%= @article.category.title %></h1>
        </div>
        <div class='full_page blurb'>
            <p><%= markdown("#{@article.category.summary}") %></p>
        </div>
    </div>
</div>
<div id= 'articlePage'>
    <div id='articleNote'>
      <div class='half_page'>
          <h3><%= link_to "#{@article.category.title}", category_path("#{@article.category.id}") %>: Article:</h3>
          <hr />
      </div>
      <div class='one_fourth'>
        <% if current_contributor %>
          <p><%= link_to 'Edit Article', edit_article_path(@article) %><p>
        <% end %>
      </div>
    </div>
    <div id='actualArticle'>
      <div class='half_page'>
        <h2><%= @article.title %></h2>
      </div>
      <div class='one_fourth' id='update'>
        <p id='timestamp'><%= (@article.updated_at).strftime("%b-%d-%Y") %></p>
        <p>
          <strong>Updated:</strong>
          <%= time_ago_in_words(@article.updated_at) %>
        </p>
      </div>
      <div class='three_fourth'>
          <p>
            <strong>By:</strong>
            <%= "#{@article.contributor.first_name.capitalize} #{@article.contributor.last_name.capitalize}" %>
          </p>
      </div>
      <div class='full_page artContent'>
        <p><%= markdown("#{@article.content}") %></p>
      </div>
    </div>

</div>
