<div class='banner'>
  <div class='one_fourth intro'>
      <h1>Welcome</h1>
  </div>
  <div class='half_page formbox'>
    <div id='loginbox'>
        <h3>Please Log In</h3>
        <%= form_tag login_path do %>
          <div class='field'>
              <%= label_tag :email %>
              <%= text_field_tag :email, params[:email],placeholder: "e.g. JohnDoe@gmail.com", oninvalid: "setCustomValidity('Valid email address is required')" %>
          </div>
          <div class='field'>
              <%= label_tag :password %>
              <%= password_field_tag :password %>
          </div>
          <div class='actions'>
              <%= submit_tag "Login" %>
          </div>
        <% end %>
     </div>
  </div>
</div>
<div class='one_fourth welcomeBackNote'>
    <h3>We're happy to have y ou join us!</h3>
    <p>Lorem ipsum dolor sit amet,t labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud at qui officia deserunt mollit anim id est laborum.</p>
    <% flash.each do |key, value| %>
     <div class="flash <%= key %>"><%= "The Email Address or Password entered is invalid or does not match our records. Please try again." %></div>
    <% end %>

</div>
