<div class='banner'>
  <div class='one_fourth intro'>
      <h1>Welcome</h1>
  </div>
  <div class='half_page formbox'>
    <%= render 'form' %>
  </div>
</div>
<div class='one_fourth welcomeNote'>
    <h3>We're happy to have y ou join us!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul class='errorPage'>
      <% @contributor.errors.each do |field, error| %>
          <% if field.to_s.humanize == 'Email' %>
              <li><%= "#{field.to_s.humanize} must be valid and can't be blank" %></li>
          <% elsif field.to_s.humanize == 'Password' %>
              <li><%= "#{field.to_s.humanize} must be entered and longer than 5 characters" %></li>
          <% elsif field.to_s.humanize == 'First name' %>
              <li><%= "#{field.to_s.humanize} is required" %></li>
          <% elsif field.to_s.humanize == 'Last name' %>
              <li><%= "#{field.to_s.humanize} is required" %></li>
          <% else %>
              <li><%= field.to_s.humanize %> <%= error %></li>
          <% end%>
      <% end %>
    </ul>
</div>
