<div class='banner'>
  <div class='headBanner'>
      <div class='full_page intro'>
          <h1>Decided to Join?</h1>
      </div>
      <div class='full_page formbox registrationBox'>
        <%= render 'form' %>
      </div>
  </div>
</div>
<div class='one_fourth welcomeNote'>
    <h3>We're happy to have you join us!</h3>
    <p>Creating an accout is the first step into becoming a Codiki Community Member.</p>
    <ul class='errorPage'>
      <% @contributor.errors.each do |field, error| %>
          <% if field.to_s.humanize == 'Email' %>
              <li><%= "#{field.to_s.humanize} must be valid and can't be blank" %></li>
          <% elsif field.to_s.humanize == 'Password' %>
              <li><%= "#{field.to_s.humanize} must be entered and longer than 5 characters" %></li>
          <% elsif field.to_s.humanize == 'First name' %>
              <li><%= "#{field.to_s.humanize} is required" %></li>
          <% elsif field.to_s.humanize == 'Last name' %>
              <li><%= "#{field.to_s.humanize} is required" %></li>
          <% else %>
              <li><%= field.to_s.humanize %> <%= error %></li>
          <% end%>
      <% end %>
    </ul>
</div>
